<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Template Mo">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <title>LectureRegisterExamOrFormQuestions</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" th:href="@{/assets/css/fontawesome.css}">
    <link rel="stylesheet" th:href="@{/assets/css/chilipo_college.css}">

</head>

<body>



<!-- Sub Header -->
<div class="sub-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-sm-8">
                <div class="left-content">
                    <p>CHILIPO COLLEGE <em>exams and Questions page</em> </p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-4">
                <div class="right-icons">
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-behance"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ***** Header Area Start ***** -->
<header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="index.html" class="logo">

                        CHILIPO COLLEGE
                    </a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav" >
                        <li class="nav-item"><a class="nav-link" href="#" th:href="@{/admin/default}">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="#" th:href="@{/Student/Login}">Students</a></li>
                        <li class="nav-item"><a class="nav-link" href="#" th:href="@{/lectures/firstLogin}">Lectures</a></li>
                        <li class="nav-item" ><a class="nav-link" href="#"  th:href="@{/admin/Login}">Admins</a></li>
                        <li  class="nav-item"> <a class = "nav-link" href="#" th:href="@{/chilipo/courses}">courses</a> </li>
                    </ul>
                    <a class="menu-trigger">
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- ***** Header Area End ***** -->

<section class="heading-page header-text" id="top">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h6>chilipo college</h6>
                <h2>FORM QUESTIONS CREATE EXAMS</h2>
            </div>
        </div>
    </div>
</section>

<section class="register">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 align-self-center">
                <div class="row">
                    <div class="col-lg-12">

                        <form id="registration_form1" th:action= @{'/lectures/manage_exams/UpdateExams?exam_id='+${exam.exam_id}} th:object="${exam}"method="post">
                            <div class="row">
                                <div class="col-lg-12">
                                    <h2>CREATE AN EXAM</h2>
                                </div>
                                <div class="col-lg-5">
                                    <fieldset>
                                        <input  th:field="*{exam_name}" type="text" id="exam_name" placeholder="NAME Of EXAMS" required="">
                                    </fieldset>
                                </div>
                                <div class="col-lg-9">
                                    <fieldset>
                                        <input th:value="*{requiredpassmarks}" th:field="*{requiredpassmarks}"id="requiredpassmarks" th:name="*{requiredpassmarks}"  th:type="number"placeholder="HOW MANY MARKS SHOLUD A STUDENT SCORE TO PASS THE EXAM" required="">
                                    </fieldset>
                                </div>
                                <div class="col-lg-4">
                                    <fieldset>
                                        <input  type="text" th:field="*{course.course_id}"   id="course.course_id" placeholder="course_id" required="">
                                    </fieldset>
                                </div>
                                <div class="btn-group">
                                    <button type="submit" id="btn-1" class="btn btn-primary">Create Exam</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="register" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 align-self-center">
                <div class="row">
                    <div class="col-lg-12">

                        <form id="registration_form3">
                            <div class="row">
                                <div class="col-lg-12">
                                    <h2>Having Problems with updating (QUESTIONS)? </h2>
                                </div>
                                <div class="col-lg-12">
                                    <fieldset>
                                        <textarea name="course_name" type="text" class="form-control" id="course_name" placeholder="TO UPDATE A QUESTION ENTER THE ID FOR THE EXAMS  THEN ENTER ALL FIELDS AS REGISTERED CHANGING ONLY THE FIELDS YOU WANT TO UPDATE " required=""></textarea>
                                    </fieldset>
                                </div>
                            </div>
                        </form></div>
                </div>

            </div>
        </div>
    </div></section>
<section class="footer" id="p-footer">
    <div class="footer">
        <p>Copyright © 2022 Chilipo College Co., Ltd. All Rights Reserved.
        </p>
    </div>
</section>


<!-- Scripts -->
<!-- Bootstrap core JavaScript -->
<script th:src="@{vendor/jquery/jquery.min.js}"></script>
<script th:src="@{vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/assets/js/custom.js}"></script>

</body>




</html>
