<!DOCTYPE html >
<html lang="en" xmlns:th="https://www.thymeLeaf.org">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Template Mo">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <title>AllDepartments</title>

    <!-------------------------- Bootstrap core CSS----------------------- -->
    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">


    <!-- ---------------------Additional CSS Files----------------------------- -->
    <link rel="stylesheet" th:href="@{/assets/css/fontawesome.css}">
    <link rel="stylesheet" th:href="@{/assets/css/chilipo_college.css}">

</head>

<body>



<!-- -----------------------------Sub Header ---------------------------------------->
<div class="sub-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-sm-8">
                <div class="left-content">
                    <p>CHILIPO COLLEGE <em>All Questions</em> </p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-4">
                <div class="right-icons">
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-behance"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<!--------------------------------Header Area Start ----------------------------------------------- -->
<header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!----------------------Logo Start ------------------------------------------ -->
                    <a href="index.html" class="logo">

                        CHILIPO COLLEGE
                    </a>
                    <!-- ------------------- Logo End --------------------------------------------- -->
                    <!-- --------------------Menu Start ---------------------------------------------- -->
                    <ul class="nav" >
                        <li class="nav-item"><a class="nav-link" href="#" th:href="@{/admin/default}">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="#" th:href="@{/Student/Login}">Students</a></li>
                        <li class="nav-item"><a class="nav-link" href="#" th:href="@{/lectures/firstLogin}">Lectures</a></li>
                        <li class="nav-item" ><a class="nav-link" href="#"  th:href="@{/admin/Login}">Admins</a></li>
                        <li  class="nav-item"> <a class = "nav-link" href="#" th:href="@{/chilipo/courses}">courses</a> </li>
                    </ul>
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ------------------------------------ Menu End -------------------------------- -->
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- ------------------------------------------------- Header Area End ------------------------------------->

<section class="heading-page header-text" id="top">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h6>chilipo college</h6>
                <h2>List of all Questions for specific exam</h2>
            </div>
        </div>
    </div>
</section>

<section class="contact-us" >
    <div class="container">
        <div class="row">
            <div class="col-lg">
                <div class="row">
                    <div class="col-lg-12">
                        <form id="contact" action="" method="post">
                            <div class="row">
                                <div class="col-lg-12">
                                    <h2>ALL Questions LISTED</h2>
                                </div>

                                <a th:href = "@{/getControlPanel}" class="btn btn-primary btn-sm mb-3">back to control panel</a>

                                <table class="table table-striped table-bordered">
                                    <thead class="table-dark">
                                    <tr>
                                        <th>EXAMINATION Name</th>
                                        <th> QUESTION NUMBER</th>
                                        <th>QUESTION</th>
                                        <th>OPTION1</th>
                                        <th>OPTION2</th>
                                        <th>OPTION3</th>
                                        <th>OPTION4</th>
                                        <th>QUESTION ANSWER</th>
                                        <th>QUESTION MARKS</th>
                                        <th>DELETE QUESTION</th>

                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each = "question : ${Question}">
                                        <td th:text = ${question.exam.getExam_name()}></td>
                                        <td th:text = ${question.questionnumber}></td>
                                        <td th:text = ${question.questionasked}></td>
                                        <td th:text = ${question.Option1}></td>
                                        <td th:text = ${question.Option2}></td>
                                        <td th:text = ${question.Option3}></td>
                                        <td th:text = ${question.Option4}></td>
                                        <td th:text = ${question.question_answer}></td>
                                        <td th:text = ${question.question_marks}></td>
                                        <td>
                                            <!---admins will not edit exams only lectures will----------->
                                            <a class="btn btn-danger" th:href="@{'/lecture/manage_questions/delete/'+${question.questionId}+'/'+${question.exam.getExam_id()}}" role="button">delete </a>
                                        </td>
                                    </tr>
                                    </tbody>

                                </table>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<section class="footer" id="p-footer">
    <div class="footer">
        <p>Copyright © 2022 Chilipo College Co., Ltd. All Rights Reserved.
        </p>
    </div>
</section>
<!-- -------------------------------------Scripts -->
<!-- ----------------------------Bootstrap core JavaScript -->
<script th:src="@{vendor/jquery/jquery.min.js}"></script>
<script th:src="@{vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/assets/js/custom.js}"></script>
</body>

</html>
