<!DOCTYPE html >
<html lang="en" xmlns:th="https://www.thymeLeaf.org">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Template Mo">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <title>Lecture_List</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" th:href="@{/assets/css/fontawesome.css}">
    <link rel="stylesheet" th:href="@{/assets/css/chilipo_college.css}">
</head>

<body>



<!-- Sub Header -->
<div class="sub-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-sm-8">
                <div class="left-content">
                    <p>CHILIPO COLLEGE <em>list of lectures</em> </p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-4">
                <div class="right-icons">
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-behance"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- ***** Header Area Start ***** -->
<header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="index.html" class="logo">

                        CHILIPO COLLEGE
                    </a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav" >
                        <li class="nav-item"><a class="nav-link" href="#" th:href="@{/admin/default}">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="#" th:href="@{/Student/Login}">Students</a></li>
                        <li class="nav-item"><a class="nav-link" href="#" th:href="@{/lectures/firstLogin}">Lectures</a></li>
                        <li class="nav-item" ><a class="nav-link" href="#"  th:href="@{/admin/Login}">Admins</a></li>
                        <li  class="nav-item"> <a class = "nav-link" href="#" th:href="@{/chilipo/courses}">courses</a> </li>
                    </ul>
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- ***** Header Area End ***** -->

<section class="heading-page header-text" id="top">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h6>chilipo college</h6>
                <h2>A LIST OF ALL REGISTERED LECTURES</h2>
            </div>
        </div>
    </div>
</section>

<section class="contact-us" >
    <div class="container">
        <div class="row">
            <div class="col-lg">
                <div class="row">
                    <div class="col-lg-12">
                        <form id="contact" action="" method="post">
                            <div class="row">
                                <div class="col-lg-12">
                                    <h2>LIST lectures</h2>
                                </div>
                                <!-- <div class="btn-group"> -->
                                <!---- <button type="button" id="form-submit" class="btn btn-primary " onclick="@{/admin/manage_students}" method="get">REGISTER</button>
                                -->

                                <a th:href = "@{/admin/manage_departments}" class="btn btn-primary btn-sm mb-3">back to Admin Control panel</a>
                                <!---  </div>-->
                                <table class="table table-striped table-bordered">
                                    <thead class="table-dark">
                                    <tr>
                                        <th>Lecture ID</th>
                                        <th>FIRST NAME</th>
                                        <th>LAST NAME</th>
                                        <th>USER NAME</th>
                                        <th>PHONE NUMBER</th>
                                        <th>EMAIL</th>
                                        <th> AGE</th>
                                        <th>Edit Or Delete</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each = "lecture : ${lectures}">
                                        <td th:text = ${lecture.id}></td>
                                        <td th:text = ${lecture.firstname}></td>
                                        <td th:text = ${lecture.lastname}></td>
                                        <td th:text = ${lecture.username}></td>
                                        <td th:text = ${lecture.phoneNumber}></td>
                                        <td th:text = ${lecture.email}></td>
                                        <td th:text = ${lecture.age}></td>
                                        <td>
                                            <a class="btn btn-info" th:href="@{'/admin/manage_lectures/update/'+${lecture.id}}" role="button">Edit Lecture</a>&nbsp;&nbsp;&nbsp;
                                            <a class="btn btn-danger" th:href="@{'/admin/manage_lectures/del/'+${lecture.id}}" role="button">delete lecture</a>
                                        </td>
                                    </tr>
                                    </tbody>

                                </table>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<section class="footer" id="p-footer">
    <div class="footer">
        <p>Copyright © 2022 Chilipo College Co., Ltd. All Rights Reserved.
        </p>
    </div>
</section>
<!-- Scripts -->
<!-- Bootstrap core JavaScript -->
<script th:src="@{vendor/jquery/jquery.min.js}"></script>
<script th:src="@{vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/assets/js/custom.js}"></script>
</body>

</html>
